body {
    background-color: lightgray;
}

h1 {
    text-align: center;
    font-family: Lato;
    border-bottom: 2px solid #DDD;
/*    visibility: hidden;*/

}
section {
    border-bottom: 2px solid #DDD;
    line-height: 160%;
}

code {
    color: black;
    font-size: 120%;
}

a {
    color: black;
    font-family: Lato;
    font-size: 1em;
}

ul {
}

li.heart:before {
    list-style-image: none;
    font-family: 'FontAwesome';
    content: '\f004';
    margin:0 5px 0 -15px;
}

li.tick:before {
    list-style-image: none;
    font-family: 'FontAwesome';
    content: '\f00c';
    margin:0 5px 0 -15px;
}

li.hate:before {
    list-style-image: none;
    font-family: 'FontAwesome';
    content: '\f056';
    margin:0 5px 0 -15px;
}

div.flex-container {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}

div.flex-content {
    width: 50%;
}

div.flex-hate {
    justify-content: center;
}

a:hover {
    background-color: darkgray;
    color: whitesmoke;
}

span#logo {
    font-family: 'Dancing Script';
    font-size: 1.5em;
    color: antiquewhite;
}

div#main_container {
    width: 55%;
    margin: auto;
    text-align: justify;
    color: darkslategray;
    font: 16px tahoma;
    height: 3000px;
}

nav#top-nav {
/*
    position: relative;
    left: -500px;
*/
    text-align: center;
    background-color: antiquewhite;
/*    width: 200%;*/
}

ul {
    list-style: none;
}

li.menu {
    display: inline-block;
    padding: 5px 0px;
    margin: 0px 20px;
    opacity: 0;
    text-decoration: underline;
/*    visibility: hidden;*/
}

li.menu:hover {
    cursor: pointer;
    background-color: lightgray;
    color: antiquewhite;
}

footer {
    padding-top: 25px;
}

.spacer {
    height: 100px;
}


.selected {
    background-color: lightgray;
    color: antiquewhite;
}
